{% extends "index.html" %}

{% block content %}
<p>
	An <abbr title="Application Programming Interface">API</abbr> provides and defines how the exchange of data from computer to computer will take place. The Google static maps API, for example, informs us that in order to use their map we would need to copy a web address and set it as the src value for an &ltimg&gt; tag in HTML. And the documentation includes the valid parameters and what they are for; such as location markers. 
</p>
<p>
	As it turns out the DOM is an API. Implemented by all browsers, this API allows developers to access and modify a HTML or XML document dynamically and in a straight forward manner. It does this by modelling the document as a structured group of nodes; these nodes are objects with properties and methods. There is copious documentation at <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model"></a>
</p>
<p>
	If data is being exchanged then a typical format may be JSON or XML. 
</p>
<p>
	APIs provide control and/or access to data. 
</p>
{% endblock %}